body {
  font-family: 'Nunito Sans', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background: #000;
  color: #D9D9D9;
}

a {
  color: #3CA6A6;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    color: #026773;
  }
}

p, dl, ol, ul {
  margin-bottom: 0.75rem;
}

h1, h2, h3 {
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  &.subtitle {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    font-weight: 400;
  }
}

button {
  background: transparent;
  color: #3CA6A6;
  border: solid 1px #026773;
  padding: 0.25rem 1.75rem;
  margin-left: 1rem;
  &:hover {
    color: #026773;
  }
  &:focus {
    color: darken(#026773, 5%);
  }
}

ul {
  &.services-list {
    li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

header {
  padding: 1.5rem 0;
  .logo {
    padding: 2rem 0;
    a {
      display: inline-block;
    }
  }
  nav {
    font-family: 'Inconsolata', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 -0.5rem 1rem -0.5rem;
      li {
        margin: 0 0.5rem;
        a {
          color: #3CA6A6;
          &:hover {
            text-decoration: none;
          }
          svg {
            margin-left: 0.25rem;
          }
        }
      }
    }
  }
}

.section {
  padding: 1rem 0;
  &__inner-item {
    padding: 1rem 0 0.25rem 0;
  }
  &.is-last-update {
    margin-top: 3rem;
    text-align: right;
    font-style: italic;
    p {
      margin-bottom: 1rem;
    }
  }
}
