{% extends "base.html" %}
{% block head %}
<title>Erdoğan BULUT - Personal Website</title>
{% endblock head %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="section__inner-item">
        <h2 class="section--title">About Me</h2>
        <div class="section--content">
          <p>I am a software engineer. I started software development 16 years ago when I was 11 years old with the C++ programming language. I have 9+ years of professional work experience. Most of this time I did frontend development.</p>
          <p>Major technologies I use are:</p>
          <ul>
            <li>JavaScript: Both frontend and backend experience. Expert at Vue, React, node, TypeScript and related tech</li>
            <li>.NET: Experienced with C# and .NET Core</li>
            <li>PHP: Past PHP and Symfony experience</li>
            <li>CSS: Past expert CSS and SASS experience</li>
            <li>Rust: Minor experience</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="section__inner-item">
        <h2 class="section--title">Company</h2>
        <div class="section--content">
          <p>I have a fintech startup called Tradimp.</p>
          <p>Tradimp originated in early 2021 as a startup idea to develop algorithmic trading robots. During development, an investor decided to fund the project for the first version of the project. It develops its own technical analysis indicators, decision algorithms based on these indicators, backtest mechanisms and trading robots. The first phase of the project was completed and started to work successfully.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="section__inner-item">
        <h2 class="section--title">Experience</h2>
        <div class="section--content">
          <ul>
            <li>
              I started software development at the age of 11 and my professional career at the age of 18. I have 16 years of software development experience and 9+ years of professional work experience in this sector.
            </li>
            <li>
              I am a graduate of Anatolian Vocational High School (tr: Anadolu Meslek Lisesi), I studied web programming in this school.
            </li>
            <li>Later, I graduated from Nişantaşı University.</li>
            <li>I started my career as a frontend software engineer in digital and advertising agencies.</li>
            <li>I had the opportunity to develop many projects in agencies in a short time. In this way, I had the opportunity to learn and apply more technology.</li>
            <li>Then I started working in companies that developed software products.</li>
            <li>I worked as a frontend software engineer at <a href="https://protein.tech/" target="_blank">Protein</a>. I developed restaurant automation systems.</li>
            <li>
              I worked at <a href="https://www.turkcell.com.tr/" target="_blank">Turkcell</a> / <a href="https://turkcellbulut.com/" target="_blank">Turkcell Bulut</a> as the frontend team leader of the Turkcell Bulut team. I developed the frontend architecture of the cloud platform.
            </li>
            <li>
              I worked as a frontend software engineer at <a href="https://www.farmazon.com.tr/" target="_blank">Farmazon</a> . I developed the frontend and frontend architecture of a marketplace e-commerce platform.
            </li>
            <li>
              I founded <a href="http://frontendworkteam.com/" target="_blank">Frontendworkteam</a> and worked here. I provided software development and consultancy services to startups developing their own products and agencies with large-scale clients.
            </li>
            <li>I started working at <a href="https://www.nesine.com/" target="_blank">Nesine.com</a> as a senior frontend software engineer. I am developing frontend and frontend architectures for legal betting and games of chance.</li>
            <li>
              I founded a fintech startup called Tradimp. In this project, I developed backend, frontend and system programming for a fintech product.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="section__inner-item">
        <h2 class="section--title">Contact</h2>
        <div class="section--content">
          <p>
            <span class="email-property">Email:</span>
            <span class="email-value js-email-span">
              <button class="js-email-button" type="button">Show</button>
            </span>
          </p>
        </div>
      </div>
      
      <div class="section__inner-item">
        <h2 class="section--title">CV</h2>
        <div class="section--content">
          <p>
            <a href="{{ get_url(path="cv_erdogan_bulut_2023.html", trailing_slash=false) | safe }}" target="_blank">View as HTML</a> in your browser or <a href="{{ get_url(path="cv_erdogan_bulut_2023.pdf", trailing_slash=false) | safe }}" download>download as pdf</a>. Don't worry, they're both the same.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-last-update">
    <div class="container">
      <div class="section--content">
        <p>last updated: January 10, 2023</p>
      </div>
    </div>
  </section>

  <script>
    const emailButton = document.querySelector('.js-email-button');
    const emailWrapper = document.querySelector('.js-email-span');
    emailButton.addEventListener('click', () => {
      emailWrapper.innerHTML = atob('ZXJkZ25ibHRAZ21haWwuY29t');
    });
  </script>
{% endblock content %}
